@import '../../.././assets/styles/media';

.wrapper {
  //border: solid 1px rgba(0, 0, 0, 0.55);
  //position: absolute;
  position: relative;
  box-shadow: 0 0 16px rgba(0, 0, 0, 0.2);
  top: 50%;
  border-radius: 8px;
  padding: 2rem;
  width: available;
  height: fit-content;
  background-color: white;

  .form {
    .input-section {
      display: grid;
      grid-template-columns: 1fr 1fr;
      column-gap: 24px;
      row-gap: 16px;

      .wide {
        grid-column: span 2;
      }
    }
  }
}

.header {
  color: white;
  font-weight: 200;
  text-align: center;
  text-transform: uppercase;
  line-height: 64px;
  margin: 2.5rem 0;
  font-size: 64px;
  transition: all 0.2s ease;

  @include media(laptop) {
    line-height: 48px;
    font-size: 48px;
  }
}