.question {
  color: rgba(0, 0, 0, 0.23);
  display: flex;
  border-radius: 50%;
  border-width: 2px;
  border-style: solid;
  border-color: rgba(0, 0, 0, 0.23);
  transition: all 0.25s ease;
  cursor: pointer;

  &:hover {
    color: rgba(0, 0, 0, 1);
    border-color: rgba(0, 0, 0, 1);
  }
}